<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Wysiwyg\Model\Types">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="tinymce_v4" xsi:type="array">
                    <item name="label" xsi:type="string">TinyMCE</item>
                    <item name="version" xsi:type="string">4.6.4</item>
                    <item name="config" xsi:type="string">Magento\Wysiwyg\Model\TinyMCE\Config</item>
                    <item name="component" xsi:type="string">Magento_Wysiwyg/js/tinymcev4/wysiwyg-component</item>
                    <item name="template" xsi:type="string">Magento_Wysiwyg/tinymcev4/wysiwyg</item>
                </item>
                <item name="tinymce_v3" xsi:type="array">
                    <item name="label" xsi:type="string">TinyMCE</item>
                    <item name="version" xsi:type="string">3.5.8</item>
                    <item name="config" xsi:type="string">Magento\Wysiwyg\Model\TinyMCE\Config</item>
                    <item name="component" xsi:type="string">Magento_Wysiwyg/js/tinymcev3/wysiwyg-component</item>
                    <item name="template" xsi:type="string">Magento_Wysiwyg/tinymcev3/wysiwyg</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
